@import '../variables.scss';

.root :global {

  .mdl-layout__header {
    background-color: $white;
  }

  .mdl-layout__header img {
    height: 35px;
  }

  .mdl-layout-title a {
    color: $navlinktext;
    text-decoration: none;
    font-weight: normal;
  }

  .mdl-layout__header-row .mdl-navigation__link {
    color: $navlinktext !important;
    background-color: $white;
  }

  .mdl-layout__drawer > .mdl-layout-title {
    padding-top: 36px;
    background-color: $blue;
  }

  .mdl-layout__drawer-button {
    color: $white !important;
  }
}
