/* ==========================================================================
   COLOR
   ========================================================================== */
$white: #FFFFFF;
$black: #333333;
$gray: #E3E3E3;
$blue: #00b7f9;
$black-light: #2B2D2E;
$navlinktext: rgba(102,102,102,0.85);
$botslider: #00b8b8;

